<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, html: { class: "home_reg" }) do |f| %>

        <%= render 'shared/error_messages' %>

        <%=f.text_field(:name, id: "home_reg_name",placeholder:'John Doe')%>

        <%= f.text_field(:email, id: "home_reg_mail",placeholder:'johndoe@mail.com') %>


        <%= f.password_field(:password, id: "home_reg_password",placeholder:'******') %>


        <%= f.password_field(:password_confirmation, id: "home_reg_repassword",placeholder:'******') %>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'bootstrap.min', media: 'all',
                        'data-turbolinks-track' => true %>